<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<title>Home</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
	<link rel="stylesheet" th:href="@{/fonts/material-icon/css/material-design-iconic-font.min.css}">
	
	<link th:href="@{/css/edit_exam.css}" rel="stylesheet" />
	<link th:href="@{/css/main.css}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/css/clock.css}">
	<script th:src="@{/js/clock.js}"></script>
	</head>
<body>
	<div class="header">
		<div>
			<a th:href="@{/}" class="header_a">
				<img th:src="@{/images/main_svg.svg}" class="emblema">
			</a>
		</div>
		<div class="header_hover" sec:authorize="hasRole('ADMIN')">
			<a th:href="@{/admin/list}" class="header_a headers_add">User manager</a>
		</div>
		<div class="header_hover" sec:authorize="hasAnyRole('ADMIN', 'TEACHER')">
			<a th:href="@{/exam}" class="header_a headers_add">Exam manager</a>
		</div>
		<div class="header_hover" sec:authorize="hasAnyRole('ADMIN', 'TEACHER')">
			<a th:href="@{/teacher/list}" class="header_a headers_add">Students</a>
		</div>
		<div class="header_hover" sec:authorize="hasRole('STUDENT')">
			<a th:href="@{/student/assignments}" class="header_a headers_add">Assignment</a>
		</div>
		<div class="header_hover" sec:authorize="hasAnyRole('STUDENT', 'ADMIN', 'TEACHER')">
			<a th:href="@{/profile}" class="header_a headers_add">Profile</a>
		</div>
		<div style="margin-left: auto;">
			<a th:href="@{/logout}" class="header_a">
				<img th:src="@{/images/exit.svg}" class="emblema_exit">
			</a>
		</div>
		</div>
		<h1 class="main_header_test">Home page</h1>
		<div class="home">
			<div class="posts_block">
				<div class="post" th:each="post : ${posts}">
					<img th:src="${post.image.url}" class="image_post" hspace="40" vspace="20"
						 th:width="${post.image.width}" th:height="${post.image.height}">
					<h1 style="font-weight: 100; letter-spacing: 2px; text-transform: uppercase;" th:utext="${post.title}" />
					<p style="line-height: 1.15; font-weight: 700; font-size: 1.3rem;" th:utext="${post.content}" />
					<p style="color: black; position: absolute; bottom: 15px; right: 70px; line-height: 1.12; font-weight: 700; font-size: 1.2rem; background: yellow; padding: 7px; border-radius: 10px;" th:utext="${post.dateFrom}" />
				</div>
			</div>
	    </div>
	
	
	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
	
</body>
</html>